@import "./../../index.scss";

.task-desc{
  background-color: #fff;
  border-radius: 5px;
  // width: 400px;
  flex: 2;
  height: 400px;
  margin-left: 20px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.29);
}