@mixin mobile{
  @media (max-width: 576px){
      @content;
}
}

.filter{
  width: 100%;
  margin-bottom: 15px;
  padding: 0 15px;
  @include mobile{
    padding: 0;
  }
  label:not(.ant-radio-button-wrapper){
    margin-right: 15px;
    @include mobile{
      margin-right: 0;
    }
  }
  .ant-radio-group.ant-radio-group-solid{
    @include mobile{
      display: flex;
      font-size: 12px;
      margin-top: 10px;
    }
  }
  .ant-radio-button-wrapper{
    @include mobile{
      padding: 0 12px;
      flex: none;
      width: auto;
      flex-grow: 1;
      text-align: center;
    }
  }
}