//Colors

//Fonts

//Helpers
$url: '../../assets/';

//Screen size
$large: 1200px;
$medium: 768px;
$small: 576px;

//Screen
@mixin large{
    @media (max-width: $large){ //992px
        @content;
    }
}
@mixin medium{
    @media (max-width: $medium){ //768px
        @content;
    }
}
@mixin small{
    @media (max-width: $small){ //576px
        @content;
    }
}
//===============================================