//Colors
//https://colorscheme.ru/#3q31Tw0w0w0w0
//Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
//Helpers
$url: '../../assets/';

//Screen size
$large: 1200px;
$medium: 768px;
$small: 576px;

//Screen
@mixin large{
    @media (max-width: $large){ //992px
        @content;
    }
}
@mixin medium{
    @media (max-width: $medium){ //768px
        @content;
    }
}
@mixin small{
    @media (max-width: $small){ //576px
        @content;
    }
}
//===============================================
*{
    box-sizing: border-box;
}
body{
    background: #F6F6F6;
    font-family: 'Roboto', sans-serif;
}

.app{
    max-width: 960px;
    height: 100vh;
    display: flex;
    // justify-content: center;
    margin: 0 auto;
    align-items: center;
}